@use '@angular/material' as mat;
@use "ads-material";

@import "@abgov/design-tokens/scss/tokens";

// Plus imports for other components in your app.

@mixin ads-material-theme() {
  // Include theme styles for core and each component used in your app.
  // Alternatively, you can import and @include the theme mixins for each component
  // that you are using.
  // @include angular-material-theme(ads-material.$ads-mat-theme);

  // // Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
  // @include mat-base-typography(ads-material.$ads-mat-typography-config);

  // Override typography for all Angular Material, including mat-base-typography and all components.
  // @include angular-material-typography(ads-material.$ads-mat-typography-config);
  // @include angular-material-typography(ads-material.$ads-mat-theme);

  // // Override the typography in the core CSS.
  // @include mat-core(ads-material.$ads-mat-typography-config);

  // component themes
  @include ads-table.ads-table-theme(ads-material.$ads-mat-theme);
  @include ads-textarea-edit.ads-textarea-edit-theme(
    ads-material.$ads-mat-theme
  );
  @include ads-checkbox-edit.ads-checkbox();

  // TODO: put these in their respective component themes
  //cludge the margin on form fields that don't have hints
  .mat-form-field {
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-form-field-subscript-wrapper {
      height: 16px; //This is to set a specific height for mat-error so that controls don't jump around when validation fires.
      margin-top: ads-common.$quarter-unit !important;
      padding: 0 !important;
      overflow: visible;
    }

    &.no-hint-fix .mat-form-field-subscript-wrapper {
      display: none;
    }

    &.mat-form-field-appearance-outline {
      .mat-form-field-outline {
        color: ads-colors.$layout-primary-primary;
      }

      &.mat-form-field-disabled {
        .mat-form-field-outline {
          background-color: colors.$primary-disabled;
          color: colors.$primary-disabled;
        }

        textarea {
          color: colors.$goa-black-two;
        }
      }

      .mat-form-field-wrapper {
        margin: 0;
      }

      .mat-form-field-flex {
        padding: 0 ads-common.$half-unit;
      }

      .mat-form-field-infix {
        padding: ads-common.$half-unit 0 ads-common.$half-unit 0;
        border: 0;
      }

      .mat-form-field-subscript-wrapper {
        margin: 0;
      }

      .mat-select {
        .mat-select-value-text {
          color: ads-colors.$interactive;
        }

        .mat-select-arrow-wrapper {
          .mat-select-arrow {
            color: ads-colors.$interactive;
          }
        }
      }
    }
  }

  .mat-form-field-subscript-wrapper {
    position: relative !important;
  }

  .mat-stroked-button {
    font-weight: 600;
    border-width: 2px !important;
    border-color: ads-colors.$layout-primary-midtones !important;
  }

  .mat-stroked-button,
  .mat-raised-button {
    height: 42px;
  }

  .mat-radio-group {
    margin: (ads-common.$half-unit) 0;

    &.verticle-radio-group {
      display: flex;
      flex-direction: column;
    }

    & .mat-radio-button {
      margin: 0 0 (ads-common.$quarter-unit) 0;
    }

    &.error .mat-radio-button {
      .mat-radio-outer-circle {
        border-color: ads-colors.$status-error;
      }
    }
  }

  .mat-tab-label-active {
    color: black;
    font-weight: bold;
  }

  .mat-header-row {
    min-height: ads-common.$double-unit;
  }

  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: ads-colors.$interactive-hover;
  }

  .mat-expansion-indicator::after {
    color: ads-colors.$interactive;
  }
}