/*********
Mat Dialog
**********/
.mat-dialog-title {
  font-size: $goa-font-size-7;
  margin: 0 40px 1.5rem 0;
}
.mat-dialog-container {
  line-height: $goa-line-height-3;
  color: $goa-color-text-default;
}
