/*********
Mat Dialog
**********/
.goa-angular {
  .mat-dialog-title {
    font-size: $goa-font-size-7;
  }
  .mat-dialog-container {
    line-height: $goa-line-height-3;
    color: $goa-color-text-default;
  }
  .mat-dialog-actions[align=end] {
    margin-bottom: $goa-spacing-l;
  }
  .mat-dialog-actions {
    margin: 0;
    padding: 0;

    :not(:last-child) {
      margin-right: $goa-spacing-l;
    }
  }
}
